@model Chat
@*for messages*@
<div class="chat-body">
    @foreach (var message in Model.Messages)
    {
        <div class="message">
            <header>@message.Name</header>
            <p>@message.Text</p>
            <footer>@message.Timestamp</footer>
        </div>
    }

</div>
@*for message input*@

<form class="chat-input" asp-controller="Home" asp-action="CreateMessage">
    <input type="hidden" name="chatId" value="@Model.Id" />
    <input type="text" name="message" />
    <button type="submit">Send</button>
</form>
