<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>ChatApp</title>
</head>
<body>
    <div class="navbar"></div>
    <div class="main">
        <div class="side-menu">
            <a class="room-button" href="#">Room</a>
            @*to create a room*@
            <a class="room-button" id="create-room-btn" href="#"><strong>+</strong></a>
        </div>
        <div class="chat">
            @RenderBody()
        </div>

    </div>
    <div class="modal active" id="create-room-modal">
        <form asp-controller="" asp-action="" class="modal-body">
            <button type="button" onclick="closeModal()" class="close">X</button>
            <header>Create Room</header>
            <div>
                <input type="text" />
            </div>
            <footer>
                <button>Create</button>
            </footer>
        </form>
    </div>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>